<div class="container" id="app">
  <br/>
    <a href="http://codingthesmartway.com/" target="_blank"><img src="assets/images/logo.png" width="300" /></a>
  <hr>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="d-flex flex-wrap flex-xl-nowrap flex-lg-nowrap flex-md-nowrap">
      <div class="p-2">
          <a href="http://codingthesmartway.com/courses/angular2-complete-guide/" target="_blank"><img src="assets/images/angular_complete_guide.png" class="rounded" width="193" height="193" /></a>
      </div>
      <div class="p-2">
        <h5 class="alert-heading"><a href="http://codingthesmartway.com/courses/angular2-complete-guide/" target="_blank">[#1 ONLINE COURSE] Angular - The Complete Guide</a></h5>
        <p>Master Angular (both Angular 4 and Angular 2) and build awesome, reactive web apps with the successor of Angular.js</p>
        <ul>
          <li>Develop modern, complex, responsive and scalable web applications with Angular 4</li>
          <li>Fully understand the architecture behind an Angular 4 application and how to use it</li>
        </ul>
        <a href="http://codingthesmartway.com/courses/angular2-complete-guide/" target="_blank" class="btn btn-danger">Redeem Your Coupon</a>
      </div>
    </div>
  </div>
  <div>
      <div class="card">
          <div class="card-body">
            <h3 class="card-title">Todos App</h3>
            <h6 class="card-subtitle mb-2 text-muted">Using Angular & Redux</h6>
            <app-todo-overview></app-todo-overview>
            <app-todo-list></app-todo-list>
          </div>
        </div>
  </div>

  <hr>
  <div class="footer">
    <p>&copy; <a href="http://codingthesmartway.com" target="_blank">CodingTheSmartWay.com</a> | <a href="http://codingthesmartway.com/imprint" target="_blank">Imprint</a> | <a href="http://codingthesmartway.com/data-privacy-statement/" target="_blank">Data Privacy Statement</a> | <a href="http://codingthesmartway.com/affiliate-disclaimer/" target="_blank">Affiliate Disclaimer</a></p>
  </div>
</div>

